::-webkit-scrollbar{
    display: none;
}

.checkboxList li {
    padding: .5rem 0;
}
.checkboxList input:hover,.checkboxList label:hover, .checkboxList li:hover {
    cursor: pointer;
}

footer a {
    color: #dee2e6;
    text-decoration: none;
}
.filters {
    width: 15%;
}

.filtros {
    border: 1px solid rgba(0, 0, 0, .25);
}

.products {
    width: 85%;
}

.filtersBtn {
    display: none;
}

.btnFiltersResponsive {
    display: none;
}

.sort{
    display: flex;
    justify-content: right;
}

.headerBuscador {
    width: 30%;
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerBuscador input {
    width: 100%;
    border: none;
    outline: none;
}
.headerBuscador button{
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
}

@media screen and (max-width: 1200px) {
    .btnFiltersResponsive{
        display: block;
    }
    .sort{
        justify-content: space-between;
    }
    .checkboxList{
        display: none;
    }
    .products {
        width: 100%;
    }
    .filtersBtn {
        display: block;
    }
    .filters{
        width: 100%;
    }
    .productsBox {
        flex-direction: column;
    }
    .filters{
        display: none;
    }
    .headerBuscador {
        width: 50%;
    }
}